snippet d "A better d tag implementation" b
<div class="$1">
  $2
</div>
endsnippet

snippet todo "An HTML todo comment" !b
<!-- TODO: (`whoami`) ${1:description} (`!v strftime("%d %b %Y")`)  -->
endsnippet

snippet fixme "An HTML fixme comment" !b
<!-- FIXME: (`whoami`) ${1:description} (`!v strftime("%d %b %Y")`)  -->
endsnippet

snippet t "A generic HTML tag" b
<${1:div}>
  $0
</${1/(\w*).*/$1/g}>
endsnippet

