[submodule "home/tmux/plugins/tpm"]
	path = home/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "dircolors"]
	path = dircolors
	url = https://github.com/arcticicestudio/nord-dircolors
[submodule "home/tpm"]
	path = home/tpm
	url = https://github.com/tmux-plugins/tpm
