[submodule "home/vim/packages/powerline"]
	path = home/vim/packages/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "home/vim/packages/nerdtree"]
	path = home/vim/packages/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/vim/packages/less"]
	path = home/vim/packages/less
	url = https://github.com/groenewege/vim-less.git
[submodule "home/vim/packages/css3-syntax"]
	path = home/vim/packages/css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "home/vim/packages/css-color"]
	path = home/vim/packages/css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "home/vim/packages/coffee-script"]
	path = home/vim/packages/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "home/vim/pathogen"]
	path = home/vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "home/vim/packages/smartinput"]
	path = home/vim/packages/smartinput
	url = https://github.com/kana/vim-smartinput.git
[submodule "home/vim/packages/fugitive"]
	path = home/vim/packages/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/vim/packages/addon-mw-utils"]
	path = home/vim/packages/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "home/vim/packages/tlib"]
	path = home/vim/packages/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "home/vim/packages/vividchalk"]
	path = home/vim/packages/vividchalk
	url = https://github.com/tpope/vim-vividchalk
[submodule "home/vim/packages/ctrlp"]
	path = home/vim/packages/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "home/vim/packages/tagbar"]
	path = home/vim/packages/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "home/vim/packages/markdown"]
	path = home/vim/packages/markdown
	url = git@github.com:joshdmiller/vim-markdown.git
[submodule "home/vim/packages/liquid"]
	path = home/vim/packages/liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "home/vim/packages/scala"]
	path = home/vim/packages/scala
	url = https://github.com/rosstimson/scala-vim-support.git
[submodule "home/vim/packages/play2"]
	path = home/vim/packages/play2
	url = https://github.com/gre/play2vim.git
[submodule "home/vim/packages/html5"]
	path = home/vim/packages/html5
	url = git://github.com/othree/html5.vim.git
[submodule "home/vim/packages/ultisnips"]
	path = home/vim/packages/ultisnips
  url = git@github.com:joshdmiller/ultisnips.git
